@charset "UTF-8";

html {
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    color: #444;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #c7c7c7), color-stop(0.85, #e3e3e3), color-stop(0.00, #fff));
    background: -webkit-linear-gradient(top, #fff 0%, #e3e3e3 85%, #c7c7c7 100%);
    background: -moz-linear-gradient(top, #fff 0%, #e3e3e3 85%, #c7c7c7 100%);
    background: -o-linear-gradient(top, #fff 0%, #e3e3e3 85%, #c7c7c7 100%);
    background: -ms-linear-gradient(top, #fff 0%, #e3e3e3 85%, #c7c7c7 100%);
    background: linear-gradient(to bottom, #fff 0%, #e3e3e3 85%, #c7c7c7 100%);
}
a {
    text-decoration: none;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

a { color: #3b86d0; }
a:hover {
    color: #0F549F;
    text-decoration: underline;
}
.a-opa img {
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

img {
    border-style: none;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

section {
    margin-top: 3rem;
}

section:first-child {
    margin-top: 0;
}

code {
    margin: 0.5rem 0;
    padding: 1rem;
    display: block;
    background-color: rgba(255,255,255,0.5);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

q { quotes: '"' '"' "'" "'" }
q:before { content: open-quote }
q:after  { content: close-quote }

/* ------- common ------- */
.wrapper {
    margin: 0 auto;
    padding: 2rem 3rem;
    width: 80%;
    max-width: 1000px;
    min-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}

.ff-en {
    font-family: 'Montez', cursive;
    letter-spacing: 0.05rem;
}

/* ------- classes ------- */
.logo {
    margin: 2rem auto;
    line-height: 2rem;
    font-size: 1.rem;
}
.logo a { color: #4682b4; }
.logo a:hover {
    color: #3452aa;
    text-decoration: none;
}
header {
    margin: 2rem 0;
}
header h2 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1rem;
}

.box-area {
    display: box;
    display: -webkit-box;
    display: -moz-box;
}
.box-area:after {
    display: block;
    clear: both;
}
.box-aboutme {
    width: 30%;
    min-height: 10rem;
    margin: 0 3%;
    background-color: #ecf7ca;
}
.box-aboutme2 {
    background-color: #edd0e7;
}
.box-aboutme:first-child {
    margin-left: 0;
}
.box-aboutme h3 {
    margin: 0;
    padding: 0;
    height: 5rem;
    font-size: 2rem;
    line-height: 5rem;
    color: #fff;
    background-color: #a7d28d;
}
.box-aboutme2 h3 {
    background-color: #cc7eb1;
}
.box-aboutme p {
    margin: 0;
}
.box-aboutme li {
    list-style-type: circle;
    list-style-position: inside;
}

.txt {
    padding: 0.7rem;
}

/* ------- nav ------- */

/* ------- footer ------- */
footer {
    padding: 0.4rem;
    width: 100%;
    font-size: 0.7rem;
    text-align: center;
    background: -moz-linear-gradient(top, rgba(155,155,155,0.65) 0%, rgba(234,234,234,0.86) 61%, rgba(234,234,234,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(155,155,155,0.65) 0%,rgba(234,234,234,0.86) 61%,rgba(234,234,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(155,155,155,0.65) 0%,rgba(234,234,234,0.86) 61%,rgba(234,234,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a69b9b9b', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    copy
}

/* ------- general ------- */
.clear {
    clear: both;
}

.a-center { text-align: center; }
.a-left { text-align: left; }
.a-right { text-align: right; }
.a-just {
    text-align: justify;
    text-justify: distribute;
}

.m-center { margin: 0 auto; }
.mr-0_2rem { margin-right: 0.2rem; }

.fs-0_8rem { font-size: 0.8rem }
.fs-0_7rem { font-size: 0.7rem; }

.col-red { color: #cc3333; }
.col-lgray { color: #ccc; }